@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 10% 98%;
    --foreground: 0 0% 8%;
    --card: 260 9% 87%;
    --card-foreground: 0 0% 8%;
    --popover: 252 9% 90%;
    --popover-foreground: 0 0% 8%;
    --primary: 125 57% 87%;
    --primary-foreground: 0 0% 8%;
    --secondary: 296 100% 95%;
    --secondary-foreground: 255 10% 98%;
    --tertiary: 0 0% 100%;
    --tertiary-foreground: 0 0% 8%;
    --muted: 240 3.7% 85.9%;
    --muted-foreground: 240 5% 34.9%;
    --accent: 240 3.7% 85.9%;
    --accent-foreground: 0 0% 8%;
    --destructive: 359 70% 59%;
    --destructive-foreground: 0 0% 8%;
    --border: 240 3.7% 85.9%;
    --input: 240 3.7% 85.9%;
    --ring: 125 57% 87%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 10% 8%;
    --foreground: 0 0% 98%;
    --card: 260 9% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 252 9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 125 57% 87%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 296 100% 95%;
    --secondary-foreground: 255 10% 8%;
    --tertiary: 0 0% 100%;
    --tertiary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 359 70% 59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.5rem;
  }

  @font-face {
    font-family: 'Euclid Circular A';
    src: url('./assets/fonts/euclid-circular-a-light.ttf') format('truetype');
    font-weight: 300;
  }

  @font-face {
    font-family: 'Euclid Circular A';
    src: url('./assets/fonts/euclid-circular-a-regular.ttf') format('truetype');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Euclid Circular A';
    src: url('./assets/fonts/euclid-circular-a-medium.ttf') format('truetype');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Euclid Circular A';
    src: url('./assets/fonts/euclid-circular-a-semibold.ttf') format('truetype');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Euclid Circular A';
    src: url('./assets/fonts/euclid-circular-a-bold.ttf') format('truetype');
    font-weight: 700;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  input {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
