@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 274 3% 95%;
    --foreground: 274 3% 6%;
    --card: 274 3% 90%;
    --card-foreground: 274 3% 10%;
    --popover: 274 3% 95%;
    --popover-foreground: 274 95% 6%;
    --primary: 274 100% 47.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 236 10% 85%;
    --muted-foreground: 274 3% 35%;
    --accent: 236 10% 80%;
    --accent-foreground: 274 3% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 274 3% 90%;
    --border: 274 20% 50%;
    --input: 274 20% 18%;
    --ring: 274 100% 47.8%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 274 10% 6%;
    --foreground: 274 3% 90%;
    --card: 274 3% 6%;
    --card-foreground: 274 3% 90%;
    --popover: 274 10% 5%;
    --popover-foreground: 274 3% 90%;
    --primary: 274 100% 47.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 274 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 236 10% 15%;
    --muted-foreground: 274 3% 60%;
    --accent: 236 10% 15%;
    --accent-foreground: 274 3% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 274 3% 90%;
    --border: 274 20% 18%;
    --input: 274 20% 18%;
    --ring: 274 100% 47.8%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  input {
    -moz-appearance: textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}
